.idea/
.metals/
target/
build/
project/boot
project/.bloop

.history
.DS_Store
*~

.gradle

*.iml

*.log

*.pem
credentials.json

RUNNING_PID

.cache
.classpath
.settings
.project
.java-version

temp/

data/
*/lib_managed/*

*/venv/
dynamodb-local

metastore_db
spark-warehouse
